.cabecalho{
    background: linear-gradient(135deg, #4e6eff 0%, #7f3fc0 50%, #dc4bed 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.cabecalho__logo{
    padding-block: 2rem;
    padding-inline-start: 1rem;
    display: flex;
    gap: 1.2rem;
    align-items: center;
}
.logo__livros{
    width: 70px;
    height: 70px;
    background-color: rgba(255, 255, 255, 0.316);
    padding: 12px;
    border-radius: 12px;
}
.titulo{
    color: white;
    font-family:'Segoe UI' ;
    display: flex;
    flex-direction: column;
}

.titulo h1{
    color: white;
}
.botoes{
    display: flex;
    background: linear-gradient(135deg, #3e59cd 0%, #6e36a7 50%, #ae3cbb 100%);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.botoes button img{
    height: 2rem;
    padding: 7px;
}
.botoes button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem; /* espaço entre ícone e texto */
    width: 100%;
    background-color: rgba(83, 83, 83, 0);
    border: none;
    cursor: pointer;
    height: 3rem;
    color: white;
    font-size: medium;
    border-radius: 8px;
    transition: all 0.3s ease; /* animação suave */
    box-shadow: 0 2px 4px rgba(0,0,0,0.2);
}

.botoes button:hover {
    transform: translateY(-3px) scale(1.05); /* levanta e dá leve aumento */
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 0 6px 10px rgba(0,0,0,0.3);
}


